html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: lightgrey;
  text-align: center;
}
#logo {
  border: 1px
  solid black;
  margin: 15% auto;
  background-color: white;
}
